{% extends 'base.html' %}

{% block content %}
    <h1>Encrypt Image</h1>

    <p>Please select the encryption algorithm:</p>
    <select id="algorithm-select">
        <option value="S" {% if not algorithm %}selected{% endif %}>Select</option>
        <option value="aes">AES</option>
        <option value="hybrid">Hybrid</option>
    </select>

    <div id="passphrase-section" style="display: none;">
        <p>Please enter your passphrase:</p>
        <form method="POST" action="{{ url_for('encrypt') }}" enctype="multipart/form-data">
            <input type="hidden" name="algorithm" id="algorithm-input" value="aes">
            <br>
            <input type="password" id="passphrase" name="passphrase" required>
            <br>
            <div class="file-input-container">
                <input style="color: white;" type="file" name="image" accept=".jpg, .jpeg, .png" required>
            </div>
            <br>
            <input type="submit" value="Encrypt">
        </form>
    </div>

    <div id="rsa-key-section" style="display: none;">
        <p>Please enter your RSA public key:</p>
        <form method="POST" action="{{ url_for('encrypt') }}" enctype="multipart/form-data">
            <input type="hidden" name="algorithm" id="algorithm-input" value="hybrid">
            <br>
            <textarea name="rsa_public_key" rows="5" cols="50" required></textarea>
            <br>
            <label for="aes_pass">Enter a passphrase:</label>
            <input type="password" id="passphrase" name="passphrase" required>
            <br>
            <div class="file-input-container">
                <input style="color: white;" type="file" name="image" accept=".jpg, .jpeg, .png" required>
            </div>
            <br>
            <input type="submit" value="Encrypt">
        </form>
    </div>

    <script>
        const algorithmSelect = document.getElementById('algorithm-select');
        const passphraseSection = document.getElementById('passphrase-section');
        const rsaKeySection = document.getElementById('rsa-key-section');
        const algorithmInput = document.getElementById('algorithm-input');

        algorithmSelect.addEventListener('change', function() {
            algorithmInput.value = algorithmSelect.value;
            if (algorithmSelect.value === 'aes') {
                passphraseSection.style.display = 'block';
                rsaKeySection.style.display = 'none';
            } else if (algorithmSelect.value === 'hybrid') {
                passphraseSection.style.display = 'none';
                rsaKeySection.style.display = 'block';
            } else if(algorithmSelect.value === 'S'){
                passphraseSection.style.display = 'none';
                rsaKeySection.style.display = 'none';
            }
        });
    </script>

{% endblock %}
